nav {
    position: fixed;
    overflow: hidden;
    padding: 0 15px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: #e9e6d4;
    height: 44px;
    background: url(../images/wood_middle.png) repeat-x top/100% 100%;
    z-index: 200;
    #navLeft {
      display: flex;
      height: 44px;
      text-align: center;
      .logo {
        margin-top: 14px;
        height: 1rem;
        width: 1rem;
      }
      h1{
        font-weight: 100;
        margin-left: 5px;
        font-size: 1rem;
        margin-top: 12px;
        white-space: nowrap;
      }
    }
    #navRight {
      overflow: hidden;
      height: 44px;
      text-align: right;
      display: flex;
      .navMenu {
        font-size: 1.7rem;
        margin-top: 2px;
        color: #e9e6d4;
        border-radius: 5px;
        padding: 2px;
      }
      .openNavMenu {
        background-color: #f39900;
      }
      .navContact {
        font-size: 1.72rem;
        margin-left: 10px;
        margin-top: 2px;
        color: #e9e6d4;
        border-radius: 20px;
        padding: 5px;
      }
      .openNavContact {
        background-color: #f39900;
      }
    }
    
  }
  